<div class="header">
    <div class=" bg-primary">
        <div class="container-fluid">
            <div class="row align-items-center justify-content-between">
                <a class="logo col-4 text-white text-decoration-none" routerLink="/">Food Online</a>
                <div class="menu d-flex justify-content-end py-3 col-8">
                    <a routerLink="/login" class="text-decoration-none mx-3  text-white">Login</a>
                    <a routerLink="/home" class="text-decoration-none  text-white">Home</a>
                    <a routerLink="/register" class="text-decoration-none mx-3 text-white">Register</a>
        
                </div>
            </div>
        </div>
       

    </div>
</div>
