<section class="" >
    <div class="container  h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">

                        <div class="row">

                            <div class="col-lg-12">
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <p class="mb-1">{{cart.totalCount>0?'Food cart':'Cart is Empty'}}</p>
                                        <p class="mb-0" *ngIf="cart.items.length>0">You have {{cart.totalCount}} items in your cart</p>
                                    </div>
                                </div>

                                <div *ngFor="let item of cart.items" class="card mb-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-baseline">
                                                <div>
                                                    <img [src]="item.food.imageUrl"
                                                        class="img-fluid rounded-3" alt="Shopping item"
                                                        style="width: 65px;">
                                                </div>
                                                <div class="ms-3">
                                                    <h6>{{item.food.name}} - ${{item.price}}</h6>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <div class="d-flex">
                                                <a href="javascript:void(0)" style="font-size: 20px;color: red;" class="text-decoration-none" (click)="onAddClick(item.food)" >
                                                    +
                                                </a>
                                                    <input type="number" class="mx-1" style="width: 30px;" [(ngModel)]="item.quantity"/>
                                                    <a href="javascript:void(0)" style="font-size: 20px;color: red;" class="text-decoration-none" (click)="onSubClick(item.food)" >
                                                    -
                                                </a>
                                                    </div>

                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>

<div class="summary" *ngIf="cart.items.length>0">
    <div class="d-flex justify-content-center">
        <h6>Total ${{cart.totalPrice}}</h6>

    </div>
</div>
<div class="proceed">
  
    <button type="button" (click)="onNextClick()" class="btn w-100 btn-primary">{{buttonName}}</button>
</div>
                                

                            </div>
                            
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>